/* Container holding the image and the text */
*{
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  background: #f8f8f8;
}

.cardcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.background {
    background: url('./../images/dog1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100vh;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }